<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1> IF CONDITION</h1>
        {% if a > 100 %}
            <h1>a is max {{a}}</h1>
        {% endif %}

        
        <h1>IF-ELSE CONDITION</h1>
        {% if a > b %}
            <h1>a is max  {{a}}</h1>
        {% else %}
            <h1>b is max {{b}}</h1>
        {% endif %}

    </center>
</body>
</html>